#div1{
  float: left;
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-x: hidden;
  padding-top: 20px; 
}
.leftpage{
  display: inline-block;
  margin: 68px 34px;
}
h1{
  font-size: 40px;
  margin: 30px 0px 30px 0px;
}
.personalinfo ul{
  font-size: 35px;
    line-height: 2;
    margin-top: 18px;
}
.personalinfo ul li{
  list-style: none;
}
.personalinfo a{
  color: black;
    text-decoration: none;
}
.skills h6{
  font-size: 36px;
  margin: 31px 7px 0px 0;
}
.software1{
  margin: 36px 0 0 0;
}
.software1 h2,
.languages h2{
  font-size: 35px;
}
.software1 h3,
.languages h3{
  text-align: end;
    margin: 39px 0 0 0;
    font-size: 22px;
}

#div12{
  display: none;
}

#div2{
  background-color: #fff;
  width: 67%;
  float: right;
  margin: 0 auto;
}
.container1{
  margin-left: 50px;
}
.div12{
  margin: 30px;
}
.cirnam{
  display: flex;
}
.circle{
  background: #1f1f71;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: 16px 16px 30px 0px;
}
.circle p{
  margin: 20px 0 0 70px;
}
.circle i{
  color: white;
    font-size: 50px;
    margin: 70px 0 0 3px;
}
.name{
  margin: 0px 0px 0px 20px;
}
.name h1{
  font-size: 75px;
}
.name h2{
  margin-top: -25px;
  font-size: 50px;
}
.para p{
  font-size: 30px;
  margin: 0 0px;
  display: inline-block;
}
.exp1,
.edu1{
  display: flex;
  font-size: 20px;
}
.exp1 p,
.edu1 p{
  font-size: 30px;
  margin: 30px 0px 0px 0px;
}
.exp1{
  font-size: 35px;
}
.exp1 li,
.edu1 ul li{
  font-size: 30px;
  margin: 0px 0px 0px 30px;
}
.exp1 ul{
  margin: 0px 0px 40px 40px;
}
.edu1 strong{
  font-size: 35px;
}
.edu1 ul{
  margin: 27px 70px 25px 50px;
}
.contact{
  background-color: beige;
  padding: 20px 60px;
  margin-left: -85px;
    margin-right: -30px;
    margin-bottom: -30px;

}
.count1 label{ 
  float: left;
}
.user1, .mail1, .phone1, label{
  font-size: 25px;
}
input,
select,
textarea{
  width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: -10px 0 23px 180px;
}
select{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  margin: 0px 0 23px 102px;
}
.submit{
  text-align: center;
}
button{
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
    font-style: normal;
    font-family: auto;
    margin: 40px 0;
}
